.header-cont {
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 100;
  isolation: isolate;
  background-color: var(--black);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: var(--max-width);
  width: 100%;
  padding-inline: 20px;
  height: 90px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav a {
  color: var(--gray);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  opacity: 0.8;
}
nav .active-link {
  color: white;
  opacity: 1;
}
.cta-btn {
  padding: 15px 25px;
  color: white;
  border-radius: 9px;
  background-color: var(--purple);
  color: white;
  font-weight: 500;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.desk-nav {
  display: block;
}
.mob-nav {
  display: none;
}
@media screen and (max-width: 712px) {
  header {
    padding-top: 30px;
  }
  .desk-nav {
    display: none;
  }
  .mob-nav {
    display: block;
  }
  header svg {
    color: white;
    background-color: var(--purple);
    width: 40px;
    height: 40px !important;
    box-sizing: border-box !important;
    position: relative;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    z-index: 105;
  }
  nav {
    z-index: 103;
    position: fixed;
    top: 0;
    transition: all 0.8s ease-in-out;
    right: -700px;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    background-color: var(--black);
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8rem 2rem;
    gap: 40px;
    border-left: 1px solid var(--purple);
  }
  nav a {
    font-size: 20px;
  }
  nav.open-nav {
    right: 0;
  }
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 103;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@media screen and (max-width: 420px) {
  nav {
    max-width: none;
    border: none;
    align-items: center;
  }
}
