.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home,
.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  padding-inline: 20px;
}
