.lock-staking {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding-inline: 20px;
  max-width: var(--max-width);
  margin: 40px auto;
  margin-top: 124px;
}
.lock-staking > .flex {
  display: grid;
  grid-template-columns: 272px 1fr;
  width: 100%;
  gap: 30px;
  margin-top: 30px;
  align-items: flex-start;
}
.total-nfts {
  background-color: var(--light-black);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
}
.nft-details {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 9px;
  background-color: var(--light-black);
  flex-direction: column;
  min-height: 100%;
}
.detail-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #272727;
}
.page-selector {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  background-color: var(--black);
  border-radius: 6px;
  overflow: hidden;
  padding: 8px;
}
.page-selector button {
  padding: 0px 20px;
  height: 100%;
  color: var(--gray);
  border-radius: 6px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.page-selector .active-tab {
  background-color: var(--purple);
  color: white;
}
.stake-drop {
  width: auto;
  padding: 0px 20px;
}
.nft-details table {
  width: calc(100% - 20px);
  margin-top: 20px;
  border-collapse: collapse;
}
.nft-details table th {
  font-weight: 300;
  font-size: 12px;
  color: var(--gray);
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.arrow-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.arrow-col svg {
  width: 10px;
  height: 10px;
  color: #cfced7;
  box-sizing: border-box !important;
}
.arrow-col svg:first-of-type {
  margin-bottom: -3px;
  margin-top: 2px;
}
.nft-details table td {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: white;
}
.nft-details table td svg {
  width: 37px;
  height: 36px;
  background: #262626;
  border-radius: 6px;
  box-sizing: border-box !important;
  padding: 8px;
  cursor: pointer;
  color: #9d9d9d;
}
.nft-details table td img {
  width: 48px;
  height: 46px;
}
.nft-details table th {
  padding-bottom: 20px;
}
.nft-details table td {
  padding: 10px 0px;
  border-top: 1px solid #4a4a4a;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 30px;
  padding-inline: 20px;
  margin: 20px 0px;
}
@media screen and (max-width: 1200px) {
  .lock-table {
    overflow-x: scroll;
    max-width: 100%;
  }
  .nft-details table {
    width: 1000px;
  }
  .nft-details {
    overflow-x: hidden;
  }
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .detail-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .nft-details .stake-drop {
    align-self: flex-end;
    display: flex;
  }
}
@media screen and (max-width: 900px) {
  .page-selector {
    overflow-x: scroll;
    max-width: 100%;
    justify-content: flex-start;
  }
  .page-selector button {
    min-width: 150px;
  }
  .lock-staking > .flex {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .total-nfts {
    max-width: 500px;
    width: 100%;
    grid-row: 2/3;
  }
  .card-grid {
    place-items: center;
  }
}
@media screen and (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
