footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
  max-width: var(--max-width);
  width: 100%;
  padding: 40px 20px;
  flex-direction: column;
  gap: 50px;
}
.top-footer {
  display: grid;
  grid-template-columns: 1fr 220px 220px 220px;
  width: 100%;
  gap: 20px;
}
.foot-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.foot-logo p {
  font-weight: 500;
  font-size: 16px;
  color: var(--gray);
}
.foot-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-inline: 20px;
  border-left: 1px solid #4a4a4a;
}
.foot-col h2 {
  color: white;
  font-weight: 700;
  font-size: 18px;
}
.foot-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.foot-col p {
  color: var(--gray);
  letter-spacing: 0.02em;
  font-weight: 300;
  font-size: 14px;
}
.foot-col a {
  color: var(--purple);
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #4a4a4a;
}
.bottom-footer p {
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.social-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-div svg {
  font-size: 25px;
}
.social-div a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 960px) {
  .top-footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 40px;
  }
  .foot-col {
    border-left: 0px;
    border-top: 1px solid #4a4a4a;
    padding: 20px 0px;
  }
}
@media screen and (max-width: 630px) {
  footer {
    gap: 20px;
  }
  .bottom-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 0px;
  }
}
