.faq-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.faq-cont > h2 {
  font-weight: 500;
  font-size: 20px;
  color: white;
}
.faq-cont > h1 {
  font-weight: 500;
  font-size: 32px;
  color: var(--purple);
  margin: 15px 0px;
  text-align: center;
}
.faq-cont > p {
  font-weight: 300;
  font-size: 16px;
  color: white;
}
.questions-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  gap: 30px;
}
@media screen and (max-width: 500px) {
  .faq-cont > h1 {
    font-size: 24px;
  }
}
